## Estatísticas de Meios de Pagamento - v1

Começo em 20241/1 até hoje, com todas as tabelas disponíveis da API

In [2]:
url = "https://olinda.bcb.gov.br/olinda/servico/MPV_DadosAbertos/versao/v1/odata/MeiosdePagamentosMensalDA(AnoMes=@AnoMes)?@AnoMes='202401'&$top=100&$format=json&$select=AnoMes,quantidadePix,valorPix,quantidadeTED,valorTED,quantidadeTEC,valorTEC,quantidadeCheque,valorCheque,quantidadeBoleto,valorBoleto,quantidadeDOC,valorDOC"

Importar bibliotecas

In [3]:
import requests  #possibilita integração com serviços web, solicitações HTTP consumir dados de APIs
import json  #manipular arquivo json

Criar uma função para obter os dados:

In [4]:

def requisicao_api(link):
  resposta = requests.get(link)

  if resposta.status_code == 200:      #sucesso na requisição
    dados = resposta.json()
    print('Status Code:', resposta.status_code)
    with open('resultado.json', 'w', encoding='utf-8') as arquivo:   #salvar arquivo json
      json.dump(dados, arquivo, ensure_ascii=False, indent=4)

  else:
    print('Status Code:', resposta.status_code)

Chamar função passando o link gerado pela interface da API

In [5]:
requisicao_api(url)

Status Code: 200

In [6]:
with open("resultado.json", "r", encoding="utf-8") as f:
    dados = json.load(f)

# Extrai apenas o conteúdo da chave "value"
registros = dados["value"]

In [7]:
print(registros)

[{'AnoMes': '202509', 'quantidadePix': 6853600.54, 'valorPix': 3180234.46, 'quantidadeTED': 67787.76, 'valorTED': 3935730.15, 'quantidadeTEC': 0.0, 'valorTEC': 0.0, 'quantidadeCheque': 8401.46, 'valorCheque': 36257.82, 'quantidadeBoleto': 349079.13, 'valorBoleto': 569213.66, 'quantidadeDOC': 0.0, 'valorDOC': 0.0}, {'AnoMes': '202508', 'quantidadePix': 6975792.66, 'valorPix': 3035727.36, 'quantidadeTED': 64506.6, 'valorTED': 3700999.64, 'quantidadeTEC': 0.0, 'valorTEC': 0.0, 'quantidadeCheque': 7764.15, 'valorCheque': 34009.59, 'quantidadeBoleto': 328959.8, 'valorBoleto': 522435.28, 'quantidadeDOC': 0.0, 'valorDOC': 0.0}, {'AnoMes': '202507', 'quantidadePix': 6681904.26, 'valorPix': 3058009.49, 'quantidadeTED': 67192.89, 'valorTED': 3915166.65, 'quantidadeTEC': 0.0, 'valorTEC': 0.0, 'quantidadeCheque': 8507.87, 'valorCheque': 35797.81, 'quantidadeBoleto': 353819.55, 'valorBoleto': 564569.38, 'quantidadeDOC': 0.0, 'valorDOC': 0.0}, {'AnoMes': '202506', 'quantidadePix': 6463470.81, 'valorPix': 2868306.07, 'quantidadeTED': 62477.43, 'valorTED': 3742911.28, 'quantidadeTEC': 0.0, 'valorTEC': 0.0, 'quantidadeCheque': 8217.12, 'valorCheque': 34182.86, 'quantidadeBoleto': 338127.37, 'valorBoleto': 523439.24, 'quantidadeDOC': 0.0, 'valorDOC': 0.0}, {'AnoMes': '202505', 'quantidadePix': 6642996.73, 'valorPix': 2821204.05, 'quantidadeTED': 64178.98, 'valorTED': 3799492.18, 'quantidadeTEC': 0.0, 'valorTEC': 0.0, 'quantidadeCheque': 8406.19, 'valorCheque': 35833.8, 'quantidadeBoleto': 340006.42, 'valorBoleto': 532979.61, 'quantidadeDOC': 0.0, 'valorDOC': 0.0}, {'AnoMes': '202504', 'quantidadePix': 6277865.46, 'valorPix': 2675677.84, 'quantidadeTED': 64449.0, 'valorTED': 3850452.25, 'quantidadeTEC': 0.0, 'valorTEC': 0.0, 'quantidadeCheque': 8454.24, 'valorCheque': 36327.15, 'quantidadeBoleto': 341624.79, 'valorBoleto': 539022.34, 'quantidadeDOC': 0.0, 'valorDOC': 0.0}, {'AnoMes': '202503', 'quantidadePix': 6249021.87, 'valorPix': 2569137.06, 'quantidadeTED': 61294.83, 'valorTED': 3683199.49, 'quantidadeTEC': 0.0, 'valorTEC': 0.0, 'quantidadeCheque': 8808.83, 'valorCheque': 35645.95, 'quantidadeBoleto': 340788.0, 'valorBoleto': 516117.79, 'quantidadeDOC': 0.0, 'valorDOC': 0.0}, {'AnoMes': '202502', 'quantidadePix': 5607721.49, 'valorPix': 2431378.99, 'quantidadeTED': 61949.08, 'valorTED': 3378764.96, 'quantidadeTEC': 0.0, 'valorTEC': 0.0, 'quantidadeCheque': 8350.17, 'valorCheque': 33019.98, 'quantidadeBoleto': 324481.7, 'valorBoleto': 488180.37, 'quantidadeDOC': 0.0, 'valorDOC': 0.0}, {'AnoMes': '202501', 'quantidadePix': 5682028.22, 'valorPix': 2469961.92, 'quantidadeTED': 62232.13, 'valorTED': 3705721.69, 'quantidadeTEC': 0.0, 'valorTEC': 0.0, 'quantidadeCheque': 9199.15, 'valorCheque': 36429.91, 'quantidadeBoleto': 338952.59, 'valorBoleto': 519244.8, 'quantidadeDOC': 0.0, 'valorDOC': 0.0}, {'AnoMes': '202412', 'quantidadePix': 6439025.53, 'valorPix': 2779504.21, 'quantidadeTED': 76611.11, 'valorTED': 4257762.35, 'quantidadeTEC': 0.0, 'valorTEC': 0.0, 'quantidadeCheque': 9616.44, 'valorCheque': 37774.51, 'quantidadeBoleto': 361042.81, 'valorBoleto': 566693.06, 'quantidadeDOC': 0.0, 'valorDOC': 0.0}, {'AnoMes': '202411', 'quantidadePix': 5801993.62, 'valorPix': 2457450.39, 'quantidadeTED': 65815.9, 'valorTED': 3503713.5, 'quantidadeTEC': 0.0, 'valorTEC': 0.0, 'quantidadeCheque': 9018.91, 'valorCheque': 34430.29, 'quantidadeBoleto': 332501.15, 'valorBoleto': 512370.3, 'quantidadeDOC': 0.0, 'valorDOC': 0.0}, {'AnoMes': '202410', 'quantidadePix': 5719634.44, 'valorPix': 2477082.95, 'quantidadeTED': 68590.51, 'valorTED': 3885789.81, 'quantidadeTEC': 0.0, 'valorTEC': 0.0, 'quantidadeCheque': 10202.17, 'valorCheque': 39646.01, 'quantidadeBoleto': 362192.91, 'valorBoleto': 563986.63, 'quantidadeDOC': 0.0, 'valorDOC': 0.0}, {'AnoMes': '202409', 'quantidadePix': 5514820.67, 'valorPix': 2312884.11, 'quantidadeTED': 66155.98, 'valorTED': 3730246.21, 'quantidadeTEC': 0.0, 'valorTEC': 0.0, 'quantidadeCheque': 9978.94, 'valorCheque': 39601.85, 'quantidadeBoleto': 344698.46, 'valorBoleto': 520250.19, 'quantidadeDOC': 0.0, 'valorDOC': 0.0}, {'AnoMes': '202408', 'quantidadePix': 5639073.65, 'valorPix': 2325824.32, 'quantidadeTED': 67581.13, 'valorTED': 3621022.65, 'quantidadeTEC': 0.0, 'valorTEC': 0.0, 'quantidadeCheque': 10009.39, 'valorCheque': 39142.87, 'quantidadeBoleto': 343924.99, 'valorBoleto': 519248.33, 'quantidadeDOC': 0.0, 'valorDOC': 0.0}, {'AnoMes': '202407', 'quantidadePix': 5392531.01, 'valorPix': 2337719.13, 'quantidadeTED': 69657.15, 'valorTED': 3828948.82, 'quantidadeTEC': 0.0, 'valorTEC': 0.0, 'quantidadeCheque': 10942.8, 'valorCheque': 41504.78, 'quantidadeBoleto': 366484.15, 'valorBoleto': 546660.21, 'quantidadeDOC': 0.0, 'valorDOC': 0.0}, {'AnoMes': '202406', 'quantidadePix': 5252219.2, 'valorPix': 2118346.64, 'quantidadeTED': 63599.32, 'valorTED': 3527912.28, 'quantidadeTEC': 0.0, 'valorTEC': 0.0, 'quantidadeCheque': 9642.76, 'valorCheque': 36114.74, 'quantidadeBoleto': 327754.93, 'valorBoleto': 475278.61, 'quantidadeDOC': 0.0, 'valorDOC': 0.0}, {'AnoMes': '202405', 'quantidadePix': 5204202.51, 'valorPix': 2103333.37, 'quantidadeTED': 69023.11, 'valorTED': 3482036.97, 'quantidadeTEC': 0.0, 'valorTEC': 0.0, 'quantidadeCheque': 10467.85, 'valorCheque': 40133.55, 'quantidadeBoleto': 349180.92, 'valorBoleto': 506302.82, 'quantidadeDOC': 0.0, 'valorDOC': 0.0}, {'AnoMes': '202404', 'quantidadePix': 4900465.64, 'valorPix': 2062614.3, 'quantidadeTED': 70647.15, 'valorTED': 3652606.48, 'quantidadeTEC': 0.0, 'valorTEC': 0.0, 'quantidadeCheque': 11179.22, 'valorCheque': 43295.4, 'quantidadeBoleto': 361633.28, 'valorBoleto': 524619.69, 'quantidadeDOC': 0.0, 'valorDOC': 0.0}, {'AnoMes': '202403', 'quantidadePix': 4880460.58, 'valorPix': 1920986.7, 'quantidadeTED': 67565.05, 'valorTED': 3333054.27, 'quantidadeTEC': 0.0, 'valorTEC': 0.0, 'quantidadeCheque': 10122.46, 'valorCheque': 36644.55, 'quantidadeBoleto': 336435.46, 'valorBoleto': 469047.59, 'quantidadeDOC': 0.0, 'valorDOC': 0.0}, {'AnoMes': '202402', 'quantidadePix': 4344917.69, 'valorPix': 1703935.55, 'quantidadeTED': 65805.87, 'valorTED': 2981226.45, 'quantidadeTEC': 60.01, 'valorTEC': 109.32, 'quantidadeCheque': 10373.38, 'valorCheque': 37076.26, 'quantidadeBoleto': 332269.47, 'valorBoleto': 463066.01, 'quantidadeDOC': 61.89, 'valorDOC': 34.21}, {'AnoMes': '202401', 'quantidadePix': 4350076.85, 'valorPix': 1804382.92, 'quantidadeTED': 70343.25, 'valorTED': 3337344.85, 'quantidadeTEC': 387.18, 'valorTEC': 815.94, 'quantidadeCheque': 11919.12, 'valorCheque': 41615.89, 'quantidadeBoleto': 363550.32, 'valorBoleto': 516702.44, 'quantidadeDOC': 600.76, 'valorDOC': 616.58}]

###Objetivo: Processamento de dados com Spark

Instalando Java e Pyspark:

In [8]:
!apt-get update -qq > /dev/null
!apt-get install openjdk-11-jdk -qq > /dev/null
!pip install -q pyspark

W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)

Definir variáveis de ambiente para especificar onde o Spark está instalado:

In [9]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["PATH"] += os.pathsep + os.path.join(os.environ["JAVA_HOME"], "bin")

Importar Bibliotecas e iniciar seção:

In [10]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, round

# ---- Criar sessão Spark ----
spark = SparkSession.builder \
    .appName("BCB_API_PySpark") \
    .master("local[*]") \
    .getOrCreate()

Início ao processamento de dados:

In [11]:
df = spark.createDataFrame(registros)

# Mostra o esquema e os dados
df.printSchema()

root
 |-- AnoMes: string (nullable = true)
 |-- quantidadeBoleto: double (nullable = true)
 |-- quantidadeCheque: double (nullable = true)
 |-- quantidadeDOC: double (nullable = true)
 |-- quantidadePix: double (nullable = true)
 |-- quantidadeTEC: double (nullable = true)
 |-- quantidadeTED: double (nullable = true)
 |-- valorBoleto: double (nullable = true)
 |-- valorCheque: double (nullable = true)
 |-- valorDOC: double (nullable = true)
 |-- valorPix: double (nullable = true)
 |-- valorTEC: double (nullable = true)
 |-- valorTED: double (nullable = true)

In [12]:
df.show(5, truncate=False)

+------+----------------+----------------+-------------+-------------+-------------+-------------+-----------+-----------+--------+----------+--------+----------+
|AnoMes|quantidadeBoleto|quantidadeCheque|quantidadeDOC|quantidadePix|quantidadeTEC|quantidadeTED|valorBoleto|valorCheque|valorDOC|valorPix  |valorTEC|valorTED  |
+------+----------------+----------------+-------------+-------------+-------------+-------------+-----------+-----------+--------+----------+--------+----------+
|202509|349079.13       |8401.46         |0.0          |6853600.54   |0.0          |67787.76     |569213.66  |36257.82   |0.0     |3180234.46|0.0     |3935730.15|
|202508|328959.8        |7764.15         |0.0          |6975792.66   |0.0          |64506.6      |522435.28  |34009.59   |0.0     |3035727.36|0.0     |3700999.64|
|202507|353819.55       |8507.87         |0.0          |6681904.26   |0.0          |67192.89     |564569.38  |35797.81   |0.0     |3058009.49|0.0     |3915166.65|
|202506|338127.37       |8217.12         |0.0          |6463470.81   |0.0          |62477.43     |523439.24  |34182.86   |0.0     |2868306.07|0.0     |3742911.28|
|202505|340006.42       |8406.19         |0.0          |6642996.73   |0.0          |64178.98     |532979.61  |35833.8    |0.0     |2821204.05|0.0     |3799492.18|
+------+----------------+----------------+-------------+-------------+-------------+-------------+-----------+-----------+--------+----------+--------+----------+
only showing top 5 rows

**Transformações:** Criam novos DataFrames sem processar imediatamente os dados

In [13]:
from pyspark.sql import functions as F

In [14]:
# 1. Selecionar colunas específicas
df_select = df.select("quantidadeBoleto", "valorBoleto")
df_select.show(10)

+----------------+-----------+
|quantidadeBoleto|valorBoleto|
+----------------+-----------+
|       349079.13|  569213.66|
|        328959.8|  522435.28|
|       353819.55|  564569.38|
|       338127.37|  523439.24|
|       340006.42|  532979.61|
|       341624.79|  539022.34|
|        340788.0|  516117.79|
|        324481.7|  488180.37|
|       338952.59|   519244.8|
|       361042.81|  566693.06|
+----------------+-----------+
only showing top 10 rows

In [15]:
# 2. Criar novas colunas
df_novo = df.withColumn("valor_total", F.col("valorBoleto") + F.col("valorCheque"))
df_novo.show(5)

+------+----------------+----------------+-------------+-------------+-------------+-------------+-----------+-----------+--------+----------+--------+----------+-----------+
|AnoMes|quantidadeBoleto|quantidadeCheque|quantidadeDOC|quantidadePix|quantidadeTEC|quantidadeTED|valorBoleto|valorCheque|valorDOC|  valorPix|valorTEC|  valorTED|valor_total|
+------+----------------+----------------+-------------+-------------+-------------+-------------+-----------+-----------+--------+----------+--------+----------+-----------+
|202509|       349079.13|         8401.46|          0.0|   6853600.54|          0.0|     67787.76|  569213.66|   36257.82|     0.0|3180234.46|     0.0|3935730.15|  605471.48|
|202508|        328959.8|         7764.15|          0.0|   6975792.66|          0.0|      64506.6|  522435.28|   34009.59|     0.0|3035727.36|     0.0|3700999.64|  556444.87|
|202507|       353819.55|         8507.87|          0.0|   6681904.26|          0.0|     67192.89|  564569.38|   35797.81|     0.0|3058009.49|     0.0|3915166.65|  600367.19|
|202506|       338127.37|         8217.12|          0.0|   6463470.81|          0.0|     62477.43|  523439.24|   34182.86|     0.0|2868306.07|     0.0|3742911.28|   557622.1|
|202505|       340006.42|         8406.19|          0.0|   6642996.73|          0.0|     64178.98|  532979.61|    35833.8|     0.0|2821204.05|     0.0|3799492.18|  568813.41|
+------+----------------+----------------+-------------+-------------+-------------+-------------+-----------+-----------+--------+----------+--------+----------+-----------+
only showing top 5 rows

In [16]:
# 3. Filtrar registros (condição)
df_filtrado = df.filter(F.col("quantidadeCheque") > 8000)
df_filtrado.show(10)

+------+----------------+----------------+-------------+-------------+-------------+-------------+-----------+-----------+--------+----------+--------+----------+
|AnoMes|quantidadeBoleto|quantidadeCheque|quantidadeDOC|quantidadePix|quantidadeTEC|quantidadeTED|valorBoleto|valorCheque|valorDOC|  valorPix|valorTEC|  valorTED|
+------+----------------+----------------+-------------+-------------+-------------+-------------+-----------+-----------+--------+----------+--------+----------+
|202509|       349079.13|         8401.46|          0.0|   6853600.54|          0.0|     67787.76|  569213.66|   36257.82|     0.0|3180234.46|     0.0|3935730.15|
|202507|       353819.55|         8507.87|          0.0|   6681904.26|          0.0|     67192.89|  564569.38|   35797.81|     0.0|3058009.49|     0.0|3915166.65|
|202506|       338127.37|         8217.12|          0.0|   6463470.81|          0.0|     62477.43|  523439.24|   34182.86|     0.0|2868306.07|     0.0|3742911.28|
|202505|       340006.42|         8406.19|          0.0|   6642996.73|          0.0|     64178.98|  532979.61|    35833.8|     0.0|2821204.05|     0.0|3799492.18|
|202504|       341624.79|         8454.24|          0.0|   6277865.46|          0.0|      64449.0|  539022.34|   36327.15|     0.0|2675677.84|     0.0|3850452.25|
|202503|        340788.0|         8808.83|          0.0|   6249021.87|          0.0|     61294.83|  516117.79|   35645.95|     0.0|2569137.06|     0.0|3683199.49|
|202502|        324481.7|         8350.17|          0.0|   5607721.49|          0.0|     61949.08|  488180.37|   33019.98|     0.0|2431378.99|     0.0|3378764.96|
|202501|       338952.59|         9199.15|          0.0|   5682028.22|          0.0|     62232.13|   519244.8|   36429.91|     0.0|2469961.92|     0.0|3705721.69|
|202412|       361042.81|         9616.44|          0.0|   6439025.53|          0.0|     76611.11|  566693.06|   37774.51|     0.0|2779504.21|     0.0|4257762.35|
|202411|       332501.15|         9018.91|          0.0|   5801993.62|          0.0|      65815.9|   512370.3|   34430.29|     0.0|2457450.39|     0.0| 3503713.5|
+------+----------------+----------------+-------------+-------------+-------------+-------------+-----------+-----------+--------+----------+--------+----------+
only showing top 10 rows

In [17]:
# 4. Ordenar valores
df_ordenado = df.orderBy(F.col("valorCheque").desc())
df_ordenado.show(10)

+------+----------------+----------------+-------------+-------------+-------------+-------------+-----------+-----------+--------+----------+--------+----------+
|AnoMes|quantidadeBoleto|quantidadeCheque|quantidadeDOC|quantidadePix|quantidadeTEC|quantidadeTED|valorBoleto|valorCheque|valorDOC|  valorPix|valorTEC|  valorTED|
+------+----------------+----------------+-------------+-------------+-------------+-------------+-----------+-----------+--------+----------+--------+----------+
|202404|       361633.28|        11179.22|          0.0|   4900465.64|          0.0|     70647.15|  524619.69|    43295.4|     0.0| 2062614.3|     0.0|3652606.48|
|202401|       363550.32|        11919.12|       600.76|   4350076.85|       387.18|     70343.25|  516702.44|   41615.89|  616.58|1804382.92|  815.94|3337344.85|
|202407|       366484.15|         10942.8|          0.0|   5392531.01|          0.0|     69657.15|  546660.21|   41504.78|     0.0|2337719.13|     0.0|3828948.82|
|202405|       349180.92|        10467.85|          0.0|   5204202.51|          0.0|     69023.11|  506302.82|   40133.55|     0.0|2103333.37|     0.0|3482036.97|
|202410|       362192.91|        10202.17|          0.0|   5719634.44|          0.0|     68590.51|  563986.63|   39646.01|     0.0|2477082.95|     0.0|3885789.81|
|202409|       344698.46|         9978.94|          0.0|   5514820.67|          0.0|     66155.98|  520250.19|   39601.85|     0.0|2312884.11|     0.0|3730246.21|
|202408|       343924.99|        10009.39|          0.0|   5639073.65|          0.0|     67581.13|  519248.33|   39142.87|     0.0|2325824.32|     0.0|3621022.65|
|202412|       361042.81|         9616.44|          0.0|   6439025.53|          0.0|     76611.11|  566693.06|   37774.51|     0.0|2779504.21|     0.0|4257762.35|
|202402|       332269.47|        10373.38|        61.89|   4344917.69|        60.01|     65805.87|  463066.01|   37076.26|   34.21|1703935.55|  109.32|2981226.45|
|202403|       336435.46|        10122.46|          0.0|   4880460.58|          0.0|     67565.05|  469047.59|   36644.55|     0.0| 1920986.7|     0.0|3333054.27|
+------+----------------+----------------+-------------+-------------+-------------+-------------+-----------+-----------+--------+----------+--------+----------+
only showing top 10 rows

In [18]:
# 5. Selecionar e renomear colunas
df_renomeado = df.select(
    F.col("quantidadeBoleto").alias("qtd_boleto"),
    F.col("valorBoleto").alias("vlr_boleto")
)
df_renomeado.show(5)

+----------+----------+
|qtd_boleto|vlr_boleto|
+----------+----------+
| 349079.13| 569213.66|
|  328959.8| 522435.28|
| 353819.55| 564569.38|
| 338127.37| 523439.24|
| 340006.42| 532979.61|
+----------+----------+
only showing top 5 rows

In [26]:
# 6. Criar uma coluna categórica com base em condição
df_categoria = df.withColumn(
    "categoria_boleto",
    F.when(F.col("quantidadeBoleto") > 340000, "Alto Volume")
     .otherwise("Baixo Volume")
)
df_categoria.show(5)

+------+----------------+----------------+-------------+-------------+-------------+-------------+-----------+-----------+--------+----------+--------+----------+----------------+
|AnoMes|quantidadeBoleto|quantidadeCheque|quantidadeDOC|quantidadePix|quantidadeTEC|quantidadeTED|valorBoleto|valorCheque|valorDOC|  valorPix|valorTEC|  valorTED|categoria_boleto|
+------+----------------+----------------+-------------+-------------+-------------+-------------+-----------+-----------+--------+----------+--------+----------+----------------+
|202509|       349079.13|         8401.46|          0.0|   6853600.54|          0.0|     67787.76|  569213.66|   36257.82|     0.0|3180234.46|     0.0|3935730.15|     Alto Volume|
|202508|        328959.8|         7764.15|          0.0|   6975792.66|          0.0|      64506.6|  522435.28|   34009.59|     0.0|3035727.36|     0.0|3700999.64|    Baixo Volume|
|202507|       353819.55|         8507.87|          0.0|   6681904.26|          0.0|     67192.89|  564569.38|   35797.81|     0.0|3058009.49|     0.0|3915166.65|     Alto Volume|
|202506|       338127.37|         8217.12|          0.0|   6463470.81|          0.0|     62477.43|  523439.24|   34182.86|     0.0|2868306.07|     0.0|3742911.28|    Baixo Volume|
|202505|       340006.42|         8406.19|          0.0|   6642996.73|          0.0|     64178.98|  532979.61|    35833.8|     0.0|2821204.05|     0.0|3799492.18|     Alto Volume|
+------+----------------+----------------+-------------+-------------+-------------+-------------+-----------+-----------+--------+----------+--------+----------+----------------+
only showing top 5 rows

**Ações**: Executam o plano de transformação e retornam resultados

In [27]:
# 1. Mostrar registros
df.show(5)

+------+----------------+----------------+-------------+-------------+-------------+-------------+-----------+-----------+--------+----------+--------+----------+
|AnoMes|quantidadeBoleto|quantidadeCheque|quantidadeDOC|quantidadePix|quantidadeTEC|quantidadeTED|valorBoleto|valorCheque|valorDOC|  valorPix|valorTEC|  valorTED|
+------+----------------+----------------+-------------+-------------+-------------+-------------+-----------+-----------+--------+----------+--------+----------+
|202509|       349079.13|         8401.46|          0.0|   6853600.54|          0.0|     67787.76|  569213.66|   36257.82|     0.0|3180234.46|     0.0|3935730.15|
|202508|        328959.8|         7764.15|          0.0|   6975792.66|          0.0|      64506.6|  522435.28|   34009.59|     0.0|3035727.36|     0.0|3700999.64|
|202507|       353819.55|         8507.87|          0.0|   6681904.26|          0.0|     67192.89|  564569.38|   35797.81|     0.0|3058009.49|     0.0|3915166.65|
|202506|       338127.37|         8217.12|          0.0|   6463470.81|          0.0|     62477.43|  523439.24|   34182.86|     0.0|2868306.07|     0.0|3742911.28|
|202505|       340006.42|         8406.19|          0.0|   6642996.73|          0.0|     64178.98|  532979.61|    35833.8|     0.0|2821204.05|     0.0|3799492.18|
+------+----------------+----------------+-------------+-------------+-------------+-------------+-----------+-----------+--------+----------+--------+----------+
only showing top 5 rows

In [20]:
# 2. Contar número total de registros
print("Total de registros:", df.count())

Total de registros: 21

In [28]:
# 3. Descrever estatísticas básicas
df.describe().show()

+-------+------------------+------------------+------------------+------------------+-----------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+
|summary|            AnoMes|  quantidadeBoleto|  quantidadeCheque|     quantidadeDOC|    quantidadePix|     quantidadeTEC|    quantidadeTED|       valorBoleto|       valorCheque|          valorDOC|          valorPix|          valorTEC|          valorTED|
+-------+------------------+------------------+------------------+------------------+-----------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+
|  count|                21|                21|                21|                21|               21|                21|               21|                21|                21|                21|                21|                21|                21|
|   mean| 202448.7142857143| 344643.2476190476| 9503.934285714286|31.554761904761904|5755896.353809524|21.294761904761906|66545.91571428571| 521877.5404761904|37356.455714285716|30.990000000000002|2453033.4204761907|             44.06|3659719.1871428574|
| stddev|50.050117739270426|12749.485900758467|1120.6689955984828|131.11696814749217|777127.3358035829| 84.84890922216076|  3636.9983311717|30702.382177635907|2770.8400831960166|134.38252088720466|413168.27000322356|178.45755663462393| 271640.6225102005|
|    min|            202401|          324481.7|           7764.15|               0.0|       4344917.69|               0.0|         61294.83|         463066.01|          33019.98|               0.0|        1703935.55|               0.0|        2981226.45|
|    max|            202509|         366484.15|          11919.12|            600.76|       6975792.66|            387.18|         76611.11|         569213.66|           43295.4|            616.58|        3180234.46|            815.94|        4257762.35|
+-------+------------------+------------------+------------------+------------------+-----------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+

In [29]:
# 4. Calcular médias de colunas
df.select(
    F.mean("quantidadeBoleto").alias("média_Boleto"),
    F.mean("valorTED").alias("média_ted")
).show()

+-----------------+------------------+
|     média_Boleto|         média_ted|
+-----------------+------------------+
|344643.2476190476|3659719.1871428574|
+-----------------+------------------+

In [23]:
# 5. Obter o registro com maior valorBoleto
df.orderBy(F.col("valorBoleto").desc()).limit(6).show()

+------+----------------+----------------+-------------+-------------+-------------+-------------+-----------+-----------+--------+----------+--------+----------+
|AnoMes|quantidadeBoleto|quantidadeCheque|quantidadeDOC|quantidadePix|quantidadeTEC|quantidadeTED|valorBoleto|valorCheque|valorDOC|  valorPix|valorTEC|  valorTED|
+------+----------------+----------------+-------------+-------------+-------------+-------------+-----------+-----------+--------+----------+--------+----------+
|202509|       349079.13|         8401.46|          0.0|   6853600.54|          0.0|     67787.76|  569213.66|   36257.82|     0.0|3180234.46|     0.0|3935730.15|
|202507|       353819.55|         8507.87|          0.0|   6681904.26|          0.0|     67192.89|  564569.38|   35797.81|     0.0|3058009.49|     0.0|3915166.65|
|202508|        328959.8|         7764.15|          0.0|   6975792.66|          0.0|      64506.6|  522435.28|   34009.59|     0.0|3035727.36|     0.0|3700999.64|
|202506|       338127.37|         8217.12|          0.0|   6463470.81|          0.0|     62477.43|  523439.24|   34182.86|     0.0|2868306.07|     0.0|3742911.28|
|202505|       340006.42|         8406.19|          0.0|   6642996.73|          0.0|     64178.98|  532979.61|    35833.8|     0.0|2821204.05|     0.0|3799492.18|
|202412|       361042.81|         9616.44|          0.0|   6439025.53|          0.0|     76611.11|  566693.06|   37774.51|     0.0|2779504.21|     0.0|4257762.35|
+------+----------------+----------------+-------------+-------------+-------------+-------------+-----------+-----------+--------+----------+--------+----------+

In [30]:
# 6. Calcular soma total por uma categoria criada
df_categoria.groupBy("categoria_boleto").agg(
    F.sum("valorPix").alias("soma_pix"),
    F.sum("valorTED").alias("soma_ted")
).show()

+----------------+-------------+-------------+
|categoria_boleto|     soma_pix|     soma_ted|
+----------------+-------------+-------------+
|    Baixo Volume|1.900609362E7|2.787430407E7|
|     Alto Volume|3.250760821E7|4.897979886E7|
+----------------+-------------+-------------+

------

---